/* MainPage.scss */
@import '../abstracts/variable';
@import '../abstracts/mixins';

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
    /* Typing effect container */
  .typing-container {
    width: 100%; /* Adjust as needed */
    text-align: center;
    margin: 20px 0;
    height: 3rem; /* Fix the height to avoid layout shift */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .typing-container .typing-text {
    font-size: 2rem;
    border-right: 2px solid black; /* Cursor effect */
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .section-box {
    position: relative;
    width: 50%; /* Adjust width as needed */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


