// src/style/card.scss

@import 'variable'; // Import your variables if you have any
@import 'mixins';    // Import your mixins if you have any

.card {
  width: 100%; // Ensures the card fills the grid cell width
  cursor: pointer;
  @include border-radius($border-radius-medium); // Use your mixin or replace with the actual value
  overflow: hidden;
  @include box-shadow(); // Use your mixin or replace with the actual value
  @include transition(transform, $transition-fast, ease); // Use your mixin or replace with the actual value
  text-align: center;

  &:hover {
    transform: scale(1.05);
  }
}

.card-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-title {
  padding: 10px;
  font-size: $font-size-base; // Replace with actual value if not using variables
  color: $color-gray-dark;    // Replace with actual value if not using variables
}