/* src/style/footer.css */
.footer {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  
  .footer-content {
    display: flex;
    gap: 20px;
    font-size: 1rem;
  }
  
  .footer-content a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.2s;
  }
  
  .footer-content a:hover {
    color: #ccc;
  }
  