@import 'variable';
@import 'mixins';

.footer {
  background-color: $color-black;
  color: $color-white;
  width: 100%;
  padding: 10px 0;
  @include flex-center();
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;

  .footer-content {
    display: flex;
    gap: 20px;
    font-size: $font-size-base;

    a {
      color: $color-white;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 5px;
      @include transition(color, $transition-fast);

      &:hover {
        color: $color-gray-light;
      }
    }
  }
}
