@import '../abstracts/variable'; 
@import '../abstracts/mixins';

:root {
  altcha-widget {
    --altcha-border-width: 0px; /* Remove the border width */
    --altcha-color-border: transparent; /* Make the border transparent */
  
    &::part(logo) {
      filter: brightness(0); /* Turn the logo to black */
    }
  
    &::part(footer) {
      color: $color-black; /* Text color in the footer */
      background-color: $color-black; /* Footer background */
      border: none; /* Remove any footer-specific borders */
    }
  }
  
  fieldset {
    border: none; /* Remove the border of the fieldset */
  }
  
  .altcha.svelte-ddsc3z {
    border: none !important; /* Ensure border is removed */
  }
}
